.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.social{
    display: flex;
    flex:1;
    gap: 10px;
}

.logo{
    flex:1;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
}

.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex:1;
    gap: 20px;
}

.Navlink{
    text-decoration: none;
    color: var(--textColor);
}

@media screen and (max-width:1280px) {
    .logo{
        font-size: 32px;
    }
    .links{
        font-size: 18px;
        gap:15px;
    }
}


@media screen and (max-width:1024px) {
    .logo{
        text-align: left;
    }
    .social{
        display: none;
    }
}

@media screen and (max-width:768px) {
    .logo{
        font-size: 24px;
    }
}

@media screen and (max-width:640px) {
    .links{
        display: flex-end;
    }
    .link{
        display: none;
    }
}